.Sign{
    display: flex;
    justify-content: space-between;
}

.left img{
    width: 139%;
    height: 645px;
    margin-left: -60px;
}

.Left__icon{
    color: white;
    margin-left: -590px;
    font-size: 370px;
}

.Right{
    margin-right: 70px;
    margin-top: 30px;
}

.Right__icon{
    color: #1DA1F2;
    font-size: 43px;
    margin-top: 33px;
    margin-bottom: 69px;
}

.Right h1{
    font-size: 70px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Right h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20px;
    font-weight: bold;
}

.SignUp__buttons{
    display: flex;
    flex-direction: column;
}

.SignUp__buttons button{
    border: 1px solid #CCCCCC;
    margin-top: 10px;
    border-radius: 25px;
    max-width: 300px;
    height: 40px;
    font-weight: bold;
    background-color: rgba(255,255,255,1.00);
}

.SignUp__buttons button:hover{
    background-color: #eeecec;
}

.Google__icon{
    margin-right: 5px;
}

.Google__button:hover{
    background-color: #f0f9ff !important;
    border-color: #97d1f5 !important;
}

.Apple__icon{
    margin-top: -5px;
    margin-right: 0px;
}

.Apple_button{
    padding-right: 15px;
}

.Right span{
    color: #1DA1F2;
    cursor: pointer;
}

.Right span:hover{
    text-decoration: underline;
}

.Link{
    text-decoration: none;
}

.Link:visited{
    color: #1DA1F2;
}

.bottom{
    margin-top: 10px;
    margin-right: 10px;
}

.bottom a{
    color: #657786;
    margin-right: 10px;
    margin-left: 5px;
    text-decoration: none;
}

.bottom a:hover{
    color: #657786;
    text-decoration: underline;
}

.credits{
    margin-left: 50%;
    color: #657786;
}